{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}       
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Products</a></li>
                    <li class="breadcrumb-item active">Cart</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->       
        <!-- Cart Start -->
        <div class="cart-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                        {% if items | length > 0 %}
                            <table class="table table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th>Remove</th>
                                    </tr>
                                </thead>
                                <tbody class="align-middle">

                                {% for item in items %}
                                    <tr>
                                        <td><a href="#"><img src="{{item.product.cover}}" alt="Image"></a></td>
                                        <td><a href="#">{{item.product.label}}</a></td>
                                        <td>${{item.product.unitPrice}}</td>
                                        <td>
                                            <div class="qty">
                                                <button class="btn-minus"><i class="fa fa-minus"></i></button>
                                                <input type="text" value="{{item.quantity}}">
                                                <button class="btn-plus"><i class="fa fa-plus"></i></button>
                                            </div>
                                        </td>
                                        <td>${{item.product.unitPrice * item.quantity}}</td>
                                        <td><a href ="{{path('remove',{'id':item.product.id})}}"><i class="fa fa-trash" ></i></a></td>
                                    </tr>
                                {% endfor %}
                                    
                                </tbody>
                            </table>
                        {% else %}
                         <table class="table table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th>Remove</th>
                                    </tr>
                                </thead>
                                <tbody class="align-middle">

                                    
                                </tbody>
                            </table>
                            {% endif %}
                        </div>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="coupon">
                            <input type="text" placeholder="Coupon Code">
                            <button>Apply Code</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="cart-summary">
                            <div class="cart-content">
                                <h3>Cart Summary</h3>
                                <p>Sub Total<span>${{total}}</span></p>
                                <p>Shipping Cost<span>$0</span></p>
                                <h4>Grand Total<span>${{total}}</span></h4>
                            </div>
                            <div class="cart-btn">
                                <button>Update Cart</button>
                                <button>Checkout</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cart End -->


{% endblock %}
